.main {
  max-width: 1375px;
  height: 100%;
  display: grid;
  grid-column: 275px 1fr;
}

.nav {
  grid-column: 1 / 2;
  margin-right: 10px;
  max-width: 275px;
}

.contentArea {
  grid-column: 2 / 3;
}
