.main {
  max-width: 1375px;
  height: 100%;
  display: grid;
  grid-column: 275px 1fr 350px;
}

.nav {
  grid-column: 1 / 2;
  margin-right: 10px;
}

.timeline {
  grid-column: 2 / 3;
}

.links {
  grid-column: 3 / 4;
  margin-left: 40px;
}