.topArea {
  padding: 12px;
  transition: background-color 0.3s ease;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: left;
  text-align: left;
}

.topText {
  font-size: 24px;
  font-weight: bold;
}

.a {
  display: block;
  margin: 0;
}

.bottomArea {
  padding: 12px;
  transition: background-color 0.3s ease;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: left;
}

.bottomArea:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.bottomText {
  color: #1d9bf0;
}
